@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700)&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,700&display=swap");

// ЗМІННІ===========================================================================================================
// Шрифт по замовчуванні
$primaryFontFamily: "Montserrat";
$secondaryFontFamily: "Lato";

// color
$primaryColor: #8d81ac;
$secondaryColor: #848e97;
$lastColor: #ffffff;
$overlayColor: #27262a;
$menuColor: #333333;
$menuLines: #3b3b3b;
$quoteColor: #a291a5;
$lineColor: #645766;
$bgColor: #4a3b4e;
$titleColor: #635c73;
$subtitleColor: #323232;

$gitBtnBorderText: #24292f;
$gitBtnCounter: rgba(27, 31, 36, 0.08);

$breakpoints: (
	"tablet": 481px,
	"desktop": 993px,
);

// ================================================================================================================
// МІКСИНИ
@mixin textStyle($fontWeight, $fontSize, $color) {
	font-weight: $fontWeight;
	font-size: $fontSize + px;
	color: $color;
}

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);

		@if $type ==max {
			$width: $width - 1px;
		}

		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

// ================================================================================================================

.revolutionary {
	margin: 52px 24px 0;
	text-align: center;
   &__title {
      text-transform: uppercase;
      font-family: $primaryFontFamily;
      @include textStyle(700, 26, $titleColor);
      line-height: 28px;
   }
   &__subtitle {
      margin: 28px 0 0;
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $subtitleColor
   }
}
.github-btns {
	margin: 16px 0 0;
}
.github-btn {
	margin: 20px 0 0;
	display: inline-block;
	height: 28px;
	padding: 3px 10px;
	border: solid 1px $gitBtnBorderText;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04),
		inset 0 1px 0 rgba(255, 255, 255, 0.25);

	font-size: 12px;
	line-height: 20px;
	font-weight: 500;
	&__icon-wrapper {
	}
	&__icon-wrapper svg {
		position: relative;
		top: 3px;
	}
	&__counter {
		padding: 0 3px;
		background-color: $gitBtnCounter;
		border-radius: 10px;
	}
}



