@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700)&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,700&display=swap");

// ЗМІННІ===========================================================================================================
// Шрифт по замовчуванні
$primaryFontFamily: "Montserrat";
$secondaryFontFamily: "Lato";

// color
$primaryColor: #8d81ac;
$secondaryColor: #848e97;
$lastColor: #ffffff;
$titleColor: #635c73;
$subtitleColor: #323232;

$gitBtnBorder: #a7a7a7;
$gitBtnText: #363636;
$gitBtnCounter: rgba(27, 31, 36, 0.08);

// ================================================================================================================
// МІКСИНИ
@mixin textStyle($fontFamily, $fontWeight, $fontSize, $color, $lineHeight) {
	font-family: $fontFamily;
	font-weight: $fontWeight;
	font-size: $fontSize + px;
	color: $color;
	line-height: $lineHeight + px;
}

// ================================================================================================================

.revolutionary {
	max-width: 320px;
	margin: 52px auto 0;
	text-align: center;
	&__title {
		text-transform: uppercase;
		@include textStyle($primaryFontFamily, 700, 26, $titleColor, 28);
	}
	&__text {
		margin: 28px 24px 0;
		@include textStyle($primaryFontFamily, 400, 14, $subtitleColor, 20);
	}
}
.github-btns {
	margin: 16px 0 0;
}
.btn-wrapper {
	display: inline-block;
}
.github-btn-watch {
	display: inline-block;
	min-height: 28px;
	min-width: 124px;
	margin: 20px 0 0;
	border: solid 1px $gitBtnBorder;
	border-radius: 6px;
	box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04),
		inset 0 1px 0 rgba(255, 255, 255, 0.25);
	@include textStyle($secondaryFontFamily, 700, 12, $gitBtnText, 16);
	cursor: pointer;

	&__wrapper {
		position: relative;
		top: 1px;
	}
	&__wrapper svg {
		fill: $gitBtnText;
		position: relative;
		top: 3px;
		margin-right: 2px;
	}
	&__counter {
		margin: 0 15px 0 0;
		padding: 2px 4px;
		background-color: $gitBtnCounter;
		border-radius: 10px;
		position: relative;
		top: 1px;
	}
	&__counter::after {
		display: inline-block;
		width: 0;
		height: 0;
		content: "";
		border-style: solid;
		border-width: 4px 4px 0;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		position: absolute;
		top: 8px;
		right: -15px;
	}
}

.github-btn {
	display: inline-block;
	margin: 20px 0 0;
	min-height: 28px;
	min-width: 134px;
	border: solid 1px $gitBtnBorder;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04),
		inset 0 1px 0 rgba(255, 255, 255, 0.25);
	@include textStyle($secondaryFontFamily, 700, 12, $gitBtnText, 16);

	&__icon-wrapper {
		position: relative;
		top: 1px;
	}
	&__icon-wrapper svg {
		fill: $gitBtnText;
		position: relative;
		top: 4px;
		margin-right: 2px;
	}
	&__counter {
		margin-right: 30px;
		padding: 2px 4px;
		background-color: $gitBtnCounter;
		border-radius: 10px;
		position: relative;
		top: 1px;
	}
	&__counter::before {
		display: inline-block;
		content: "";
		height: 28px;
		width: 1px;
		background: $gitBtnBorder;
		position: absolute;
		top: -4px;
		right: -10px;
	}
	&__counter::after {
		display: inline-block;
		width: 0;
		height: 0;
		content: "";
		border-style: solid;
		border-width: 4px 4px 0;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		position: absolute;
		top: 8px;
		right: -26px;
	}
}

@media (min-width: 481px) {
	.revolutionary {
		max-width: 768px;
		&__text {
			margin: 28px auto 0;
			max-width: 670px;
			@include textStyle($primaryFontFamily, 400, 21, $subtitleColor, 32);
		}
	}
}
@media (min-width: 993px) {
	.revolutionary {
		max-width: 1200px;
		&__title {
			@include textStyle($primaryFontFamily, 700, 54, $titleColor, 54);
		}
	}
}
