@import "_reset";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700)&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,700&display=swap");

// ЗМІННІ===========================================================================================================
// Шрифт по замовчуванні
$primaryFontFamily: "Montserrat";
$secondaryFontFamily: "Lato";

// color
$primaryColor: #8d81ac;
$secondaryColor: #848e97;
$lastColor: #ffffff;
$overlayColor: #27262a;
$menuColor: #333333;
$menuLines: #3b3b3b;
$quoteColor: #a291a5;
$lineColor: #645766;

$breakpoints: (
	"tablet": 481px,
	"desktop": 993px,
);

// ================================================================================================================
// МШКСИНИ
@mixin textStyle($fontWeight, $fontSize, $color) {
	font-weight: $fontWeight;
	font-size: $fontSize + px;
	color: $color;
}

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);

		@if $type ==max {
			$width: $width - 1px;
		}

		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

// ================================================================================================================
.wrapper {
	font-family: $primaryFontFamily;
	max-width: 1200px;
	margin: 0 auto;
	overflow-x: hidden;
}

.container {
	padding: 0 10px;
}

.overlay {
	background-color: #27262a;
}

@include mq("desktop") {
	.overlay {
		background-color: transparent;
	}
}

.header {
	background-image: url(img/YPImg/fon_header.jpg);
	background-repeat: no-repeat;
	background-position-x: center;

	// .header__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	// .header__logo

	&__logo {
		margin: 34px 0 26px 0;
	}

	// .header__logo--img

	&__logo--img {
		width: 43px;
		height: 41px;
		fill: $primaryColor;
		cursor: pointer;

		&:hover {
			fill: $lastColor;
		}
	}

	// .header__logo--title

	&__logo--title {
		display: none;
	}
}

@include mq("tablet") {
	.header {
		&__container {
			padding: 0 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__logo {
			display: flex;
			align-items: center;
			margin: 22px 0;
		}

		&__logo--img {
			width: 43px;
			height: 41px;
			fill: $primaryColor;
			transition: fill 0.5s ease;

			&:hover {
				fill: $lastColor;
			}
		}

		&__logo--title {
			@include textStyle(700, 24, $primaryColor);
			padding: 0 0 0 17px;
			font-family: $secondaryFontFamily;
			text-transform: uppercase;
			transition: color 0.5s ease;
			display: flex;

			&:hover {
				color: $lastColor;
			}
		}
	}
}

@include mq("desktop") {
	.header {
		&__container {
			padding: 0 90px;
			display: grid;
			grid-template-columns: minmax(160px, 160px) minmax(160px, 1fr) minmax(160px, 160px);
			justify-items: center;
			align-items: center;
		}

		.btn-header {
			order: 3;
		}
	}
}

.header__logo:hover .header__logo--title {
	color: $lastColor;
}

.header__logo:hover .header__logo--img {
	fill: $lastColor;
}

.btn-header {
	margin: 34px 0 32px 0;
	// .btn-header__buy

	&__buy {
		@include textStyle(700, 15, $primaryColor);
		font-family: $primaryFontFamily;
		text-decoration: none;
		color: $lastColor;
		padding: 11px 26px;
		background-color: $primaryColor;
		border-radius: 40px;

		&:hover {
			color: $primaryColor;
			background-color: $lastColor;
		}
	}
}

@include mq("tablet") {
	.btn-header {
		margin: 24px 0 23px 0;

		&__buy {
			@include textStyle(700, 16, $lastColor);
			padding: 11px 36px;
			background-color: $primaryColor;
			border-radius: 40px;

			&:hover {
				color: $primaryColor;
				background-color: $lastColor;
			}
		}
	}
}

.menu {
	position: fixed;
	width: 93%;
	top: 104px;
	background-color: #333333;
	z-index: 10;
	transform: translate(120%);
	transition: transform 0.6s ease-in-out;
	max-height: calc(100vh - 104px);
	overflow-y: auto;

	&--visible {
		transform: none;
	}

	&__list {
		flex-direction: column;
		align-items: center;
		margin: 0 0 14px 0;
	}

	// .menu__items

	&__items {
		padding: 29px 50px 21px 35px;
		border-bottom: 3px solid $menuLines;
	}

	// .menu__link

	&__link {
		@include textStyle(400, 26, $lastColor);

		&:active,
		&:focus {
			content: "";
			@include textStyle(400, 26, $primaryColor);
			border-left: 8px solid $primaryColor;
			margin-left: -35px;
			padding: 16px 0 10px 30px;
		}
	}
}

@include mq("tablet") {
	.menu {
		background-color: transparent;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		transform: none;

		&__list {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 22px;
		}

		// .menu__items

		&__items {
			padding: 0;
			border: none;
		}

		// .menu__link

		&__link {
			@include textStyle(700, 16, $primaryColor);

			&:hover {
				color: $lastColor;
			}

			&:active,
			&:focus {
				@include textStyle(700, 16, $primaryColor);
				border: none;
			}
		}
	}
}

@include mq("desktop") {
	.menu {
		&__list {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 40px;
		}

		// .menu__items

		&__items {
			padding: 0;
			border: none;
		}

		// .menu__link

		&__link {
			@include textStyle(700, 16, $primaryColor);

			&:active,
			&:focus {
				@include textStyle(700, 16, $primaryColor);
				border: none;
			}
		}
	}
}

.burger {
	position: relative;
	width: 26px;
	height: 20px;
	border: none;
	margin: 42px 0 40px 0;

	&::before,
	&::after {
		content: "";
		position: absolute;
		right: 0;
		width: 100%;
		height: 3px;
		background-color: $lastColor;
		border-radius: 5px;
		transition: transform 0.3s ease-in-out;
	}

	&::before {
		width: 50%;
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	&__line {
		position: absolute;
		top: 45%;
		width: 100%;
		height: 3px;
		background-color: $lastColor;
		transform: translate(-50%);
		border-radius: 5px;
		transition: opacity 0.3s ease-in-out;

		&--active {
			opacity: 0;
		}
	}

	&--active {
		&::before {
			top: 50%;
			width: 100%;
			transform: rotate(45deg);
		}

		&::after {
			top: 50%;
			transform: rotate(-45deg);
		}
	}
}

.stop-scroll {
	overflow: hidden;
}

@include mq("tablet") {
	.burger {
		display: none;
	}
}

.fork {
	margin: 58px 0 0 0;
	text-align: center;
	// .fork__title

	&__title {
		@include textStyle(700, 48, $lastColor);
		margin: 0 0 33px 0;
	}

	// .fork__slogan

	&__slogan {
		@include textStyle(400, 18, $primaryColor);
		margin: 0 0 14px 0;
	}

	// .fork__version

	&__version {
		@include textStyle(400, 14, $secondaryColor);
		text-transform: uppercase;
		padding: 0 0 407px 0;
	}
}

.batton {
	text-align: center;

	&__download {
		@include textStyle(700, 18, $lastColor);
		padding: 13px 29px;
		background-color: $primaryColor;
		border-radius: 40px;

		&:hover {
			color: $primaryColor;
			background-color: $lastColor;
		}
	}
}

.trial {
	background-color: $lastColor;
	padding: 26px 0 0 0;
	&__period {
		@include textStyle(400, 14, $secondaryColor);
		text-transform: uppercase;
		text-align: center;
	}
}

@include mq("tablet") {
	.fork {
		&__version {
			padding: 0 0 462px 0;
		}
	}

	.batton {
		&__download {
			@include textStyle(700, 21, $lastColor);
		}
	}

	.trial {
		padding: 26px 0 0 0;
	}
}

@include mq("desktop") {
	.fork {
		&__version {
			padding: 0 0 500px 0;
		}
	}

	.trial {
		background-color: transparent;
		padding: 0;
	}
}
