@import "_reset";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700)&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,700&display=swap");

// ЗМІННІ===========================================================================================================
// Шрифт по замовчуванні
$primaryFontFamily: "Roboto";
$secondaryFontFamily: "Lato";

// color
$primaryColor: #8d81ac;
$secondaryColor: #848e97;
$lastColor: #ffffff;
$overlayColor: #27262a;
$menuColor: #333333;
$menuLines: #3b3b3b;
$quoteColor: #a291a5;
$lineColor: #645766;

$breakpoints: (
	"tablet": 481px,
	"desktop": 993px,
);

// ================================================================================================================
// МШКСИНИ
@mixin textStyle($fontWeight, $fontSize, $color) {
	font-weight: $fontWeight;
	font-size: $fontSize + px;
	color: $color;
}

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);

		@if $type ==max {
			$width: $width - 1px;
		}

		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

// ================================================================================================================
.wrapper {
	font-family: $primaryFontFamily;
	max-width: 1200px;
	margin: 0 auto;
	overflow-x: hidden;
}

.overlay {
	background-color: #27262a;

}

@include mq("tablet") {
	.overlay {}
}

@include mq("desktop") {
	.overlay {
		display: none;
	}
}

.header {
	// .header__logo

	// .header__container
	&__container {
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: 17px;
	}

	// .header__logo--img

	&__logo--img {
		width: 43px;
		height: 41px;
		fill: $primaryColor;
		cursor: pointer;

		&:hover {
			fill: $lastColor;

		}
	}

	// .header__logo--title

	&__logo--title {

		display: none;

	}
}

@include mq("tablet") {
	.header {
		&__logo--img {

			width: 43px;
			height: 41px;
			fill: $primaryColor;
			transition: fill 0.5s ease;

			&:hover {
				fill: $lastColor;

			}
		}

		&__logo--title {
			@include textStyle(700, 24, $primaryColor);
			font-family: $secondaryFontFamily;
			text-transform: uppercase;
			transition: color 0.5s ease;
			display: flex;

			&:hover {
				color: $lastColor;
			}
		}
	}
}


.header__logo--img:hover .header__logo--title {
	color: $lastColor;
	fill: $lastColor;
}


.btn-header {
	padding: 45px 0 42px 0;
	// .btn-header__buy

	&__buy {
		@include textStyle(700, 15, $primaryColor);
		font-family: $primaryFontFamily;
		text-decoration: none;
		color: $lastColor;
		padding: 11px 26px;
		background-color: $primaryColor;
		border-radius: 40px;
	}

	// .btn-header__download

	&__download {}
}

.menu {
	position: fixed;
	width: 93%;
	top: 104px;
	background-color: #333333;
	z-index: 10;
	transform: translate(120%);
	transition: transform 0.6s ease-in-out;
	max-height: calc(100vh - 104px);
	overflow-y: auto;

	&--visible {
		transform: none;
	}

	&__list {
		flex-direction: column;
		align-items: center;
		margin: 0 0 14px 0;
	}

	// .menu__items

	&__items {
		padding: 29px 50px 21px 35px;
		border-bottom: 3px solid $menuLines;

	}

	// .menu__link

	&__link {
		@include textStyle(400, 26, $lastColor);

		&:active,
		&:focus {
			content: '';
			@include textStyle(400, 26, $primaryColor);
			border-left: 8px solid $primaryColor;
			margin-left: -35px;
			padding: 16px 0 10px 30px;

		}

	}
}

@include mq("tablet") {
	.menu {
		// .menu__list
	}
}

.burger {
	position: relative;
	width: 26px;
	height: 20px;
	border: none;

	&::before,
	&::after {
		content: "";
		position: absolute;
		right: 0;
		width: 100%;
		height: 3px;
		background-color: $lastColor;
		border-radius: 5px;
		transition: transform 0.3s ease-in-out;
	}

	&::before {
		width: 50%;
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	&__line {
		position: absolute;
		top: 45%;
		width: 100%;
		height: 3px;
		background-color: $lastColor;
		transform: translate(-50%);
		border-radius: 5px;
		transition: opacity 0.3s ease-in-out;

		&--active {
			opacity: 0;
		}
	}

	&--active {
		&::before {
			top: 50%;
			width: 100%;
			transform: rotate(45deg);
		}

		&::after {
			top: 50%;
			transform: rotate(-45deg);
		}
	}
}

.stop-scroll {
	overflow: hidden;
}

@include mq("tablet") {
	.burger {
		display: none;
	}
}

.fork {
	// .fork__title

	&__title {}

	// .fork__slogan

	&__slogan {}

	// .fork__version

	&__version {}
}

.trial-period {}